* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}
#header {
    align-items: center;
}
.logobao{
    width: 200px;
}
.container{
    max-width: 1200px;
    background-color: #ccc;
}
.row{
    display: flex;
    align-items: flex-start;
}
.col{
    flex: calc(100%/3);
    margin: 20px;
    border: 1px solid rgb(184, 178, 178);
    background-color: #ffffff;
    border-radius: 3px;
}
img{
    width: 100%;
}
}
h1{
    color: navy;
}
span{
    color:white;
    margin: 10px 0 10px 20px;
    display: inline-block;
    background-color: navy;
    border-radius: 200px;
    padding: 0 5px
}
.content{
    margin:10px
}
h6{
    margin-bottom: 10px;
    margin-top:5px;
    font-style: italic;
}